#fly_ux_panel{
    padding:20px;
    background-color:#fff;
    border:3px solid #7cb329;
    }
#fly_ux_panel h2{
    font-size:24px;
    line-height:1.6;
    }
#fly_ux_panel p{
    font-size:18px;
    line-height:1.4;
    }
#fly_ux_panel ul{
    margin-left:20px;
    }
#fly_ux_panel a{
    font-size:18px;
    line-height:1.4;
    }

#fly_ux_operations{
    min-height:60px;
     margin-top:20px;
    }
#fly_ux_operations .header_new_element,
#fly_ux_operations .header_drag_drop,
#fly_ux_operations .header_drag_drop_disable{
   
    margin-left:20px;
    padding:10px;
    background-color:#666;
    color:#fff;
    border-radius:5px;
    }


#fly_ux_content img{
    max-width:100%;
    height:auto;
}
#fly_ux_content > h2{
     padding:0 20px;
    font-size:24px;
    line-height:1.6;
    display:inline-block;
    box-sizing:border-box;
    width:100%;
    background-color:#eeeeef;
    }

.fix-wrapper{
    padding:20px;
    box-sizing:border-box;
    }
.fix-wrapper .fix-wrapper{
    background-color:rgba(233,233,233,0.2);
    }
.fix-wrapper >h3{
    display:inline-block;
    box-sizing:border-box;
    width:100%;
    padding:0 18px;
   color:#fff;
    font-size:18px;
    line-height:2;
    font-weight:300;
    letter-spacing:0.17em;
    background-color:#666;
    border:1px solid #999;
    border-radius: 15px 15px 0 0;
    
    }

.not-drag-content,
.drag-content{
    display:block;
    float:left;
    min-height:60px;
    width:100%;
    
    }
.drag-content{
    min-height:120px;
   
    }
.drag-content > h3{
    position:relative;
    margin:0px 0 0 0;
    float:left;
    display:inline-block;
    text-align:left;
    min-width:200px;
    width:100%;
    
}
.drag-content > div{
   box-sizing:border-box;
    display: block;
float:left;
    height:auto;
    }
.drag-item{
     border:3px solid #efefef;
     padding:0;}
.drag-item > h4{
    box-sizing:border-box;
    display:inline-block;
    background-color:rgba(233,233,233,0.6);
    padding:5px;
    width:100%;
    }
.drag-item > h4 > a.btn_edit{
     display:inline-block;
     float:left;
  
    padding:10px;
    background-color:#7cb329;
    color:#fff;
    width:auto;
    border-radius:5px;
    }
.drag-item > h4 > a.btn_copy{
     display:inline-block;
    float:right;
    
    padding:10px;
    margin-left:30px;
    
    
    background-color:#999;
    color:#fff;
    width:auto;
    border-radius:5px;
    }
.drag-item > h4 > a.btn_delete{
     display:inline-block;
    float:right;
    
    padding:10px;
    margin-left:30px;
    
    
    background-color:#b33229;
    color:#fff;
    width:auto;
    border-radius:5px;
    }
/* Listenansicht*/
#fly_ux_content_overview ul{
    padding-left:30px;
    box-sizing:border-box;
    display:inline-block;
    width:100%;
    }
#fly_ux_content_overview li{
    box-sizing:border-box;
    display:inline-block;
    width:100%;
    
    }
#fly_ux_content_overview a{
    
    font-size:24px;
    line-height:1.4;
    
    }